@import url("../app/components/date-picker.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-manrope: "Manrope", sans-serif;
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-manrope);
  color: var(--main);
}

.active {
  color: var(--button-hover);
}

input,
textarea {
  outline: none;
}
